.row {
	display: inline-block;
	margin: 0;
    width: 100%;
}

img {
	height: 100px;
	width: 100px;
}

#app, h1, h2 {
    text-align: center;
}

#header, #footer {
    background-color: midnightblue;
}

#header {
    text-align: center;
}

 #footer {
    color: gold;
    font-size: 75%;
    padding: 1% 5%;
 }