<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tic Tac Toe</title>

    <link rel="stylesheet" href="/static/css/styles.css">

    <script src="/static/lib/babel-standalone.js"></script>
    <script src="/static/lib/react.development.js"></script>
    <script src="/static/lib/react-dom.development.js"></script>
  </head>
  <body>
    <div id="app"></div>
  <script src="/static/js/tictactoe.jsx" type="text/jsx"></script>
  </body>
</html>